#certificaciones {
    background-image: url(/images/Certificados1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2100px;
}

#titulo_cert {
    margin-top: 40px;
    grid-column: 1/5;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    text-align: center;
}

#certificado {
    width: 305px;
}

#bureau {
    grid-column: 1/5;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

#ambiental {
    grid-column: 1/5;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    margin-top: 80px;
    text-align: center;
}

#certificado1 {
    width: 305px;
    margin-right: 700px;
}

#certificado2 {
    width: 305px;
    margin-right: 0px;
}

.certificado2 {
    width: 305px;
}

#certificado3 {
    width: 305px;
}


@media screen and (min-width:768px) {

    #titulo_cert {
        margin-top: 50px;
        grid-column: 4/10;
        font-size: 40px;
        align-content: center;
    }

    #bureau {
        grid-column: 2/12;
        height: 250px;
    }
    
    #ambiental {
        grid-column: 2/12;
    }

    #titulo_ambiental {
        margin-bottom: 50px;
    }

    #certificado1 {
        width: 250px;
        margin-right: 700px;
    }
    
    #certificado2 {
        width: 250px;
        margin-right: 0px;
    }

    .certificado2 {
        margin-left: 170px;
    }
        
    #certificado3 {
        width: 250px;
        margin-left: 350px;
    }

}

@media screen and (min-width:1200px) {

    #titulo_cert {
        margin-top: 50px;
        grid-column: 4/10;
        font-size: 55px;
    }

    #bureau {
        grid-column: 2/12;
        height: 400px;
    }
    
    #ambiental {
        grid-column: 2/12;
    }

    #certificado1 {
        width: 350px;
        margin-top: 40px;
    }

    #certificado2 {
        width: 350px;
        margin-top: 40px;
    }

    .certificado2{
        margin-left: 350px;
    }

    #certificado3 {
        width: 350px;
        margin-top: 40px;
        margin-left: 550px;
    }

    .certificado3{
        margin-left: 600px;
    }
}

@media screen and (min-width:1920px) {

    #titulo_cert {
        margin-top: 50px;
        grid-column: 4/10;
        font-size: 55px;
    }

    #bureau {
        grid-column: 2/12;
        margin-top: 50px;
    }
    
    #ambiental {
        grid-column: 2/12;
        margin-top: 80px;
    }

}
