footer {
    background-image: url(/images/footerV2.png);
    background-position: 50%;  
    background-size:cover;
    background-repeat: no-repeat; 
    height: 250px;
}

.whatsapp {
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

.facebook {
    width: 48px;
    height: 48px;
    margin-top: 17px;
}

.facebook {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#logo-footer {
    grid-column: 1/4;
    width: 300px;
    margin-top: 30px;
}

#footer_text {
    grid-column: 1/5;
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    margin-top: 10px;
    text-align: center;
}

#copy {
    grid-column: 4/5;
    margin-top: 80px;
}

@media screen and (min-width:768px) {
    footer {
        grid-column: 1/-1;
    }
    
    #logo-footer {
        grid-column: 1/4;
        width: 300px;
        margin-top: 30px;
    }
    
    #footer_text {
        grid-column: 2/8;
        font-size: 15px;
        margin-top: 10px;
        text-align: left;
    }
    
    .whatsapp {
        margin-top: 130px;
    }
    
    .facebook {
        margin-top: 130px;
    }

    #copy {
        grid-column: 11/12;
        margin-top: 220px;
    }
}

@media screen and (min-width:1200px) {

    footer {
        grid-column: 1/-1;
        height: 250px;
    }
    
    #logo-footer {
        grid-column: 1/4;
        width: 300px;
        margin-top: 30px;
    }
    
    #footer_text {
        grid-column: 2/8;
        font-size: 20px;
        margin-top: 10px;
        text-align: left;
    }
    
    #copy {
        grid-column: 11/12;
        margin-top: 190px;
        font-size: 20px;
    }

}