.hidden {
    display: none;
  }

    #hero {
        height: 300px;
        background-image: url("../../images/CCDL_hero.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero_button {
        height: 59px;
        color: #fff;
        background-color: #4EAD3C;
        grid-column: 2/5;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        margin-left: 95px;
        cursor: pointer;
    }

    .hero_button:hover {
        color: #fff;
        background-color: #85D873;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    #img-title {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        text-shadow: 1px 1px 2px black;
        color: #fff;
        grid-column: 1/8;
        grid-row: 1;
        margin-top: 100px;
        text-align: center;
    }

@media screen and (min-width:768px) {
    #hero {
        height: 500px;
    }

    #img-title {
        grid-column: 1/10;
        font-size: 50px;
    }

    .hero_button {
        margin-left: -400px;
        margin-top: 290px;
        width: 200px;
    }
}

@media screen and (min-width:1200px) {
    
    #hero {
        height: 750px;
    }

    .hero_button {
        height: 59px;
        grid-row: 1;
        grid-column: 2/7;
        margin-top: 450px;
        margin-left: 320px;
        font-size: 30px;
        width: 250px;
    }

    #img-title {
        grid-column: 2/9;
        grid-row: 1;
        font-size: 55px;
        margin-top: 260px;
        
    }

}